<!DOCTYPE html>
<html>
    <head>
        <style>
            body{background: skyblue; font-family: verdana; clear: #fff, padding 30px;}
            h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
            p{font-size: 16px; text-align: center;}
        </style>
        <body>
            <% include partials/nav.ejs %>
            <h1>Contact Us!</h1>
            <p>Contact the collest cats on the web right here</p>

        <form id ="contact-form" method="POST" action="/contact">
            <label for="who">Who do you want to contact?</label>
            <input type="text" name="who" value="<%= qs.person %>">
            <label for="department">Which department?</label>
            <input type="text" name = "department" value="<%= qs.dept %>">
            <label for="email">Your email</label>
            <input type="email" name="email"/>
            <input type ="submit" value="submit" />
        </form>

        </body>
    </head>
</html>