<!DOCTYPE html>
<html>
    <head>
        <style>
            body{background: skyblue; font-family: verdana; clear: #fff, padding 30px;}
            h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
            p{font-size: 16px; text-align: center;}
        </style>
        <body>
            <% include partials/nav.ejs %>
            <h1>Contact Us!</h1>
            <p>Thanks for getting in touch</p>
            <p>You contacted <%= data.who %> in the <%= data.department %> department.</p>
            <p>We will reply to you at <%= data.email %></p>

        </body>
    </head>
</html>