<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>
        <body>
            <% include partials/nav.ejs %>
            <h1>Welcome to the most awesome website on the net</h1>
            <p>You won't find a website better anywhere else!</p>
        </body>
</html>