
<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js'></script>

<script>

    const socket = io('http://localhost:8000')
    //let ws = new WebSocket('ws://localhost:8000');
    console.log(socket);

    //socketに接続されたらmessageをwebsocketサーバに送る
    socket.on('connect',(data)=>{
        socket.on('welcome',(message)=>{    //welocome is custum event
            console.log(message)
        });
        socket.emit('message',{data: 'I am so excited I am connected!'})
    })
    //ws.send('I am so excited I am connected!')

</script>