<!DOCTYPE html>
    <head>
        <title>Todo List</title>
        <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

        <script type="text/javascript">$(function(){    //リンクを押したとき新しいタブで開く
            $("a[href^='http://']").attr("target","_blank");
              });
        </script>
        <script src="/assets/todo-list.js"></script> //todo-listのインクルード
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />  
    </head>

    <body>
        <a href="http://google.com">Google</a>
        <h1>My Todo List</h1>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="Add new item..." required />
                <button type="submit"> Add Item </button>
            </form>
            <ul>
                <% for(var i=0; i<todos.length; i++){  %>
                    <li><%= todos[i].item %></li>
                <%  } %>
            </ul>
        </div>
    </body>
</html>