<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<style>
    input{
        width: 100%;
        height: 35px;
    }

    #messages{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #messages li{
        padding: 5px 10px;
    }
    #messages li:nth-child(odd){
        background: #aaaaaa;
    }

</style>


<div class = "container">
    <div class="row">
        <div class ="col-sm-12">
            <form id="message-form">
                <div class="col-sm-10">
                    <input id="user-message" type="text" placeholder="Enter your message" />
                </div>
                <div class="col-sm-2">
                    <input class="btn btn-primary" type="submit" value="Send!" />
                </div>
            </form>
            <ul id="messages">
                <!-- This will be populated by javascript-->
            </ul>

        </div>
    </div>
</div>

<audio id="hit" preload="auto">
    <source src="shortHit.wav" type="audio/wav">
</audio>


<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io('http://localhost:9000');
    console.log(socket.io)

    socket.on('connect',()=>{
        console.log(socket.id)
    })

    socket.on('messageFromServer',(dataFromserver)=>{
        console.log(dataFromserver);
        socket.emit('dataToServer',{data:"Data from the Client!"})
    })

    document.querySelector('#message-form').addEventListener('submit',(event)=>{ //btnのタイプがsubmit→押されたときにコールバック
        event.preventDefault();
        const newMessage = document.querySelector('#user-message').value;  //入力したuser-massageの値
        console.log(newMessage)
        console.log("Form Submitted!!")
        socket.emit('newMessageToServer',{text: newMessage})
    })

    socket.on('messageToClients',(msg)=>{
        console.log(msg)
        document.querySelector('#messages').innerHTML += `<li>${msg.text}</li>`
        document.getElementById("hit").play();
    })

    

    // socket.on('ping',()=>{
    //     console.log('Ping was recieved from the server.');
    // })

    // socket.on('pong',(latency)=>{
    //     console.log(latency);
    //     console.log("Pong was sent to the server.")
    // })

</script>